.row { 
  @include outer-container; @include clearfix;
  .one { @include span-columns(1 of 12); }
  .two { @include span-columns(2 of 12); }

  .ten { @include span-columns(10 of 12); @include omega(); }
  .eleven { @include span-columns(11 of 12); @include omega(); }
}


.row {
  div{ 
    height: 96px;
    background: #222;
    border: 1px solid #f1f1f1;
  }
}
